<script type="text/x-handlebars">
  {{view Gallery.PhotosetView photosetBinding="Gallery.PhotosetsController.selected"}}
  {{view Gallery.SelectionView photosetsBinding="Gallery.PhotosetsController.current_page"}}
</script>

<script type="text/x-handlebars" data-template-name="photoset">
  <div id="title">{{photoset.title}}</div>
  <div id="description">{{photoset.description}}</div>
</script>

<script type="text/x-handlebars" data-template-name="selection">
  {{#view SC.Button action="previous_page" targetBinding="Gallery.PhotosetsController"}}Previous{{/view}}
  {{collection contentBinding="photosets" itemViewClass="Gallery.PhotosetSelectView"}}
  {{#view SC.Button action="next_page" targetBinding="Gallery.PhotosetsController"}}Next{{/view}}
</script>

<script type="text/x-handlebars" data-template-name="photoset-select">
  <img {{bindAttr src="thumbnailUrl"}} />
</script>
