<script type="text/x-handlebars">
  <div class="gallery">
    {{view Gallery.PhotosetView photosetBinding="Gallery.PhotosetsController.selected" class="photoset-view"}}
    {{view Gallery.SelectionView photosetsBinding="Gallery.PhotosetsController.current_page" class="selection-view"}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="photoset">
  <div class="photoset-info">
    <div class="title">{{photoset.title}}</div>
    <div class="description">{{photoset.description}}</div>
  </div>
  <div class="photo-thumbnails-container">
    {{#collection contentBinding="Gallery.PhotosController.current_page" itemViewClass="Gallery.PhotoView"
      itemClass="photo-thumbnail"}}
      <img {{bindAttr src="content.thumbnailUrl"}} />
    {{/collection}}
    {{#if photoset}}
      <div class="page-buttons">
        {{log Gallery.PhotosController.has_previous_page}}
        {{#view SC.Button action="previous_page" targetBinding="Gallery.PhotosController"
          attributeBindings="disabled" disabledBinding="Gallery.PhotosController.has_no_previous_page"}}&lt;--{{/view}}
        {{#view SC.Button action="next_page" targetBinding="Gallery.PhotosController"
          attributeBindings="disabled" disabledBinding="Gallery.PhotosController.has_no_next_page"}}--&gt;{{/view}}
      </div>
    {{/if}}
  </div>
</script>

<script type="text/x-handlebars" data-template-name="selection">
  {{#view SC.Button action="previous_page" targetBinding="Gallery.PhotosetsController" class="previous"
    attributeBindings="disabled" disabledBinding="Gallery.PhotosetsController.has_no_previous_page"}}&lt;--{{/view}}
  {{collection contentBinding="photosets" itemViewClass="Gallery.PhotosetSelectView" itemClass="photoset-thumbnail"}}
  {{#view SC.Button action="next_page" targetBinding="Gallery.PhotosetsController" class="next"
    attributeBindings="disabled" disabledBinding="Gallery.PhotosetsController.has_no_next_page"}}--&gt;{{/view}}
</script>

<script type="text/x-handlebars" data-template-name="photoset-select">
  <img {{bindAttr src="thumbnailUrl"}} />
</script>
